In [1]:
import pandas as pd
import numpy as np

# 1. Chargement du dataset fourni
df = pd.read_csv("data/data.csv")

df.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1

In [ ]:
def clean_salary(salary_str):
    if pd.isna(salary_str) or '-1' in str(salary_str):
        return None
        
    salary_str = salary_str.split('(')[0].strip()
    
    # Gestion des salaires horaires (Per Hour) et fournis par l'employeur
    is_hourly = False
    if 'per hour' in salary_str.lower():
        is_hourly = True
        salary_str = salary_str.lower().replace('per hour', '').strip()
        
    if 'employer provided salary:' in salary_str.lower():
        salary_str = salary_str.lower().replace('employer provided salary:', '').strip()
        
    # Nettoyage des symboles $ et K
    salary_str = salary_str.replace('$', '').replace('K', '').strip()
    
    try:
        # S√©paration min et max
        min_sal, max_sal = salary_str.split('-')
        mean_salary = (float(min_sal) + float(max_sal)) / 2
        
        # Si c'est un taux horaire, on le convertit en salaire annuel brut (en milliers)
        # (Ex: 25$/h * 2000 heures = 50 000$ soit 50K)
        if is_hourly:
            mean_salary = mean_salary * 2
            
        return mean_salary
    except Exception:
        pass

In [3]:
# 2. Application de la fonction pour cr√©er la nouvelle colonne "Average_Salary"
df['Average_Salary'] = df['Salary Estimate'].apply(clean_salary)

# 3. Nettoyage basique des titres de poste (minuscules et suppression des espaces)
df['job_title'] = df['Job Title'].str.lower().str.strip()

# 4. Suppression des lignes o√π le salaire n'a pas pu √™tre extrait
df_clean = df.dropna(subset=['Average_Salary'])

# 5. Affichage du r√©sultat pour v√©rifier la transformation
df_clean[['Job Title', 'job_title', 'Salary Estimate', 'Average_Salary']].head()

,Job Title,job_title,Salary Estimate,Average_Salary
0,Sr Data Scientist,sr data scientist,$137K-$171K (Glassdoor est.),154.0
1,Data Scientist,data scientist,$137K-$171K (Glassdoor est.),154.0
2,Data Scientist,data scientist,$137K-$171K (Glassdoor est.),154.0
3,Data Scientist,data scientist,$137K-$171K (Glassdoor est.),154.0
4,Data Scientist,data scientist,$137K-$171K (Glassdoor est.),154.0

In [4]:
# 6. Sauvegarde du dataset propre pour la suite du projet (Phase 3)
df_clean.to_csv("data/cleaned-data.csv", index=False)
print(f"Dataset nettoy√© sauvegard√© ! Dimensions : {df_clean.shape}")
df_clean.head()

Dataset nettoy√© sauvegard√© ! Dimensions : (672, 17)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Average_Salary,job_title
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",154.0,sr data scientist
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,154.0,data scientist
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,154.0,data scientist
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",154.0,data scientist
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",154.0,data scientist

In [7]:
import json
import re

# 1. On d√©finit une liste de comp√©tences "dictionnaire" pour simuler l'IA.
# (Plus tard, cette partie sera remplac√©e par une requ√™te √† l'API Azure)
TECH_SKILLS = [
    "python", "sql", "aws", "machine learning", "deep learning", "hadoop", 
    "spark", "java", "c++", "tableau", "power bi", "excel", "nosql", 
    "azure", "gcp", "docker", "kubernetes", "nlp", "statistics", "tensorflow", "pytorch"
]

def extract_skills_mock(description):
    """
    Simule l'extraction d'entit√©s (NER) en cherchant des mots-cl√©s de comp√©tences
    dans la description du poste.
    Retourne une cha√Æne au format JSON comme demand√© dans le brief.
    """
    if not isinstance(description, str):
        return json.dumps([])
    
    desc_lower = description.lower()
    extracted = []
    
    for skill in TECH_SKILLS:
        # On utilise une expression r√©guli√®re (\b) pour chercher le mot exact
        # (ex: pour ne pas trouver "java" dans "javascript")
        pattern = r'\b' + re.escape(skill) + r'\b'
        if re.search(pattern, desc_lower):
            extracted.append(skill)
            
    return json.dumps(extracted)

# 2. Application de l'extraction sur la description du poste
print("ü§ñ Extraction des comp√©tences en cours...")
df_clean['skills_extracted'] = df_clean['Job Description'].apply(extract_skills_mock)

ü§ñ Extraction des comp√©tences en cours...

In [8]:
# 3. Cr√©ation d'un identifiant unique (id)
df_clean['id'] = range(1, len(df_clean) + 1)

# 4. S√©lection des colonnes demand√©es par le brief pour la BDD
df_sql = df_clean[['id', 'job_title', 'skills_extracted']]

# Aper√ßu du r√©sultat pr√™t √† √™tre inject√©
print(df_sql.head())

   id          job_title                                   skills_extracted
0   1  sr data scientist  ["aws", "machine learning", "azure", "statisti...
1   2     data scientist  ["sql", "machine learning", "hadoop", "statist...
2   3     data scientist  ["python", "aws", "machine learning", "nlp", "...
3   4     data scientist  ["python", "sql", "machine learning", "deep le...
4   5     data scientist  ["python", "sql", "machine learning", "statist...

In [ ]:

# 1. On recharge les donn√©es de l'√©tape pr√©c√©dente
df = pd.read_csv("final-ds-jobs.csv")

# 2. Nettoyage de la note d'entreprise (Rating) : On remplace les valeurs -1 par la m√©diane
df['Rating'] = df['Rating'].replace(-1.0, np.nan)
df['Rating'] = df['Rating'].fillna(df['Rating'].median())

# 3. Fonction pour relire la liste de comp√©tences JSON
def parse_skills(skill_str):
    try:
        return json.loads(skill_str)
    except Exception:
        return []

df['skills_list'] = df['skills_extracted'].apply(parse_skills)

# 4. Cr√©ation d'une colonne binaire (0 ou 1) pour chaque comp√©tence (Feature Engineering)
TECH_SKILLS = [
    "python", "sql", "aws", "machine learning", "deep learning", "hadoop", 
    "spark", "java", "c++", "tableau", "power bi", "excel", "nosql", 
    "azure", "gcp", "docker", "kubernetes", "nlp", "statistics", "tensorflow", "pytorch"
]

for skill in TECH_SKILLS:
    df[f"skill_{skill}"] = df['skills_list'].apply(lambda x: 1 if skill in x else 0)

# Aper√ßu des nouvelles colonnes
df[['job_title', 'Rating', 'skill_python', 'skill_sql', 'Average_Salary']].head()

FileNotFoundError: [Errno 2] No such file or directory: 'final-ds-jobs.csv'